{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-3xl font-bold underline">
		Hello!
	</h1>
	<p class="text-xl">
		Welcome to your new page.
	</p>
	{% if app.user %}
		<a href="{{ path('app_todo_index') }}" class="text-blue-500 hover:text-blue-700">
			Todos
		</a>
	{% else %}
		<p class="text-xl">
			You are not logged in.
		</p>
	{% endif %}
{% endblock %}
